{{#each items}}
    <li class="friends-items" draggable="true">
        <div class="friends-items-left">
            <img src="{{photo_100}}" alt="" draggable="false" class="friend-foto">
        <div class="friend-name">
            {{first_name}} {{last_name}}
        </div>
        </div>
        <div class="friends-items-right">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
    </li>
{{/each}}
