{{#each items}}
    <li class="friends-items">
        <img src="{{photo_50}}" alt="" class="friend-foto">
        <div class="friend-name">
            {{first_name}} {{last_name}}
        </div>
    </li>
{{/each}}
