#friends-container{
    margin:auto;
}

#friends-container-left, #friends-container-rigth{
    min-width: 500px;
    min-height: 500px;
    width:500px;
    height: 500px;
    overflow-y: auto;
}
#friends-container-left {
    float: left;
}
ul{
    list-style-type: none;
}

.friend-name{
    vertical-align: 100%;
    display: inline-block;
}